html, body {
    font-family: 'Helvetica Neue', 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
    font-size: 13px;
}

body {
    width: 100%;
    height: 100%;
    min-width: 800px;
    min-height: 700px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

img {
    border: 0px;
}

.layer.background{
	background: #ff5c5c; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ff5c5c 0%, #e9125e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #ff5c5c 0%,#e9125e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #ff5c5c 0%,#e9125e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#e9125e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.background .award-background {
    background: url(../images/award-background.png);
    width: 404px;
    height: 392px;
    position: absolute;
    left: 50%;
    margin-left: -202px;
    top: 34px;
    z-index: 2;
}

.activity-name {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    display: block;
    /*width:226px;*/
    /*height:90px;*/
    position: absolute;
    left: 50%;
    margin-left: -113px;
    top: 108px;
    color: #ff6600;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 100;
}

.prize-box {
    width: 280px;
    height: 286px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 378px;
}

.prize-box .prize-picture-wrapper {
    background: url(../images/prize.png);
    width: 149px;
    height: 148px;
    display: block;
    position: absolute;
    left: 71px;
    top: 11px;
}

.prize-box .prize-picture-wrapper .prize-picture {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: 5px;
}

.background .fragment-1-background {
    background: url(../images/fragment-1.png);
    width: 1072px;
    height: 723px;
    position: absolute;
    left: 50%;
    margin-left: -546px;
    top: 0px;
    z-index: 1;
}

.background .award-background {
    background: url(../images/award-background.png);
    width: 404px;
    height: 392px;
    position: absolute;
    left: 50%;
    margin-left: -202px;
    top: 34px;
    z-index: 2;
}

.background .ribbon-background {
    width: 100%;
    height: 121px;
    position: absolute;
    left: 0px;
    top: 400px; /*TODO*/
    z-index: 3;
}

.background .ribbon-background div {
    height: 121px;
    background: url(../images/ribbon-bg.png);
    width: 50%;
    position: absolute;
    top: 0px;
}

.background .ribbon-background div.left {
    left: 0px;
    margin-left: -106px;
}

.background .ribbon-background div.right {
    right: 0px;
    margin-right: -106px;
}

.background .ribbon-shadow {
    width: 100%;
    height: 28px;
    position: absolute;
    left: 0px;
    top: 491px; /*TODO*/
    z-index: 4;
}

.background .ribbon-shadow div {
    width: 167px;
    height: 28px;
    position: absolute;
}

.background .ribbon-shadow div.left {
    background: url(../images/shape-left.png);
    background-size: 100% 100%;
    margin-right: 106px;
    right: 50%;
}

.background .ribbon-shadow div.right {
    background: url(../images/shape-right.png);
    background-size: 100% 100%;
    margin-left: 106px;
    left: 50%;
}

.background .ribbon-front {
    background: url(../images/ribbon-front.png);
    width: 546px;
    height: 122px;
    position: absolute;
    left: 50%;
    margin-left: -273px;
    top: 226px;
    z-index: 4;
}

.background .fragment-2-background {
    background: url(../images/fragment-2.png);
    width: 777px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -388.5px;
    top: 369px; /*TODO*/
    z-index: 5;
}

.form-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

.form-box .activity-name {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 226px;
    /*height: 90px;*/
    position: absolute;
    left: 50%;
    margin-left: -113px;
    top: 108px;
    color: #ff6600;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-box .award-name {
    font-weight: bold;
    font-size: 60px;
    color: #ff3333;
    text-align: center;
    vertical-align: middle;
    line-height: 122px;
    white-space: nowrap;
    word-break: break-all;
    display: block;
    width: 544px;
    min-width: 544px;
    height: 122px;
    position: absolute;
    left: 50%;
    margin-left: -272px;
    top: 369px; /*TODO*/
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #feed01;
}

.form-box .award-name.stoped {
    width: initial;
}

.form-box .award-name.stoped.multiple {
    white-space: initial;
    line-height: 36px;
    padding-top: 15px;
    max-width: 800px;
    margin-left: -400px;
}

.form-box .award-name.stoped .award-name-item {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    font-size: 36px;
}

.form-box .award-name.stoped .award-name-item.nolimit {
    position: relative;
    max-width: initial;
    overflow: initial;
    width: initial;
    top: -9px;
}

.form-box .award-name.stoped.multiple .award-name-item {
    font-size: 28px;
    max-width: 113px;
}

.form-box .prize-box {
    width: 280px;
    height: 286px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 378px;
}

.form-box .prize-box .prize-picture-wrapper {
    background: url(./images/prize.png);
    width: 149px;
    height: 148px;
    display: block;
    position: absolute;
    left: 71px;
    top: 11px;
}

.form-box .prize-box .prize-picture-wrapper .prize-picture {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: 5px;
}

.form-box .default-box {
    width: 328px;
    height: 286px;
    position: absolute;
    left: 50%;
    margin-left: -169px;
    top: 378px;
    z-index: 3;
    display: none;
}

.form-box .prize-box .prize-name {
    width: 280px;
    height: 42px;
    line-height: 42px;
    white-space: nowrap;
    word-break: break-all;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    display: block;
    position: absolute;
    left: 0px;
    top: 157px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.form-box .prize-count-box {
    width: 280px;
    height: 42px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 593px;
    vertical-align: top;
}

.form-box .prize-count-box .text {
    line-height: 42px;
    font-size: 14px;
    color: #ffffff;
    margin-left: 38px;
}

.form-box .prize-count-box .count-inputor-wrapper {
    display: inline-block;
    width: 120px;
    height: 32px;
    background: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    left: 130px;
    top: 50%;
    margin-top: -16px;
}

.form-box .prize-count-box .count-inputor-wrapper .minus, .form-box .prize-count-box .count-inputor-wrapper .plus {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 0px;
    background: #ffffff;
    border-radius: 4px;
    margin: 0px;
    outline: none;
    cursor: pointer;
    color: #f5454e;
}

.form-box .prize-count-box .count-inputor-wrapper .minus:disabled, .form-box .prize-count-box .count-inputor-wrapper .plus:disabled {
    color: #cccccc;
}

.form-box .prize-count-box .count-inputor-wrapper .minus:hover, .form-box .prize-count-box .count-inputor-wrapper .plus:hover {
    background: #eeeeee;
}

.form-box .prize-count-box .count-inputor-wrapper .plus {
    position: absolute;
    right: 0px;
}

.form-box .prize-count-box .count-inputor-wrapper .count-inputor {
    display: inline-block;
    width: 56px;
    height: 32px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    padding: 0px;
    line-height: 32px;
    border-image-width: 0px;
    position: absolute;
    left: 32px;
    outline: none;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
}

.form-box .prize-count-box .count-inputor-wrapper .count-inputor::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-box .control-box {
    display: block;
    width: 100%;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 500px;
}

.form-box .control-box .button-start {
    background: url(../images/btn-start.png);
    display: block;
    width: 216px;
    height: 65px;
    border: 0px;
    margin: 0px;
    position: absolute;
    left: 50%;
    margin-left: -108px;
    top: 50%;
    margin-top: -32.5px;
    cursor: pointer;
    outline: none;
}

.form-box .control-box .button-start:active {
    background: url(../images/btn-start.active.png);
}

.form-box .control-box .button-stop {
    background: url(../images/btn-stop.png);
    display: block;
    width: 216px;
    height: 65px;
    border: 0px;
    margin: 0px;
    position: absolute;
    left: 50%;
    margin-left: -108px;
    top: 50%;
    margin-top: -32.5px;
    cursor: pointer;
    outline: none;
}

.form-box .control-box .button-stop:active {
    background: url(../images/btn-stop.active.png);
}

.form-box .result-box {
    width: 210px;
    height: 236px;
    position: absolute;
    left: 50%;
    margin-left: 256px;
    top: 140px;
}

.form-box .result-box .result-title {
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.form-box .result-box .result-count {
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.form-box .result-box .result-list-wrapper {
    background: url(../images/list.png);
    display: block;
    height: 174px;
}

.form-box .result-box .result-list-wrapper .result-list {
    margin: 0px;
    padding: 0px;
    display: block;
    list-style: none;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    top: 37px;
    height: 130px;
    margin-left: 5px;
    margin-right: 8px;
}

.form-box .result-box .result-list-wrapper .result-list::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}

.form-box .result-box .result-list-wrapper .result-list::-webkit-scrollbar-track {
    background: transparent;
    border: 0px;
}

.form-box .result-box .result-list-wrapper .result-list::-webkit-scrollbar-thumb {
    background: #d4d4d4;
}

.form-box .result-box .result-list-wrapper .result-list .result-item {
    display: block;
    margin: 0px;
    padding: 0px;
    height: 22px;
    line-height: 22px;
    position: relative;
}

.form-box .result-box .result-list-wrapper .result-list .result-item a {
    text-decoration: none;
}

.form-box .result-box .result-list-wrapper .result-list .result-item a.name {
    fnt-weight: bold;
    font-size: 16px;
    color: #121212;
    width: 150px;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.form-box .result-box .result-list-wrapper .result-list .result-item a.button {
    font-size: 16px;
    color: #121212;
    opacity: 0;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 50%;
    background: #eeeeee;
    transition: all 0.2s ease-in;
}

.form-box .result-box .result-list-wrapper .result-list .result-item:hover a.button {
    opacity: 1;
}

.copyright {
    width: 100%;
    height: 91px;
    position: fixed;
    bottom: 0px;
    background: rgba(18, 18, 18, 0.2);
    z-index: 10;
}

.copyright img {
    width: 182px;
    height: 33px;
    position: absolute;
    left: 50%;
    margin-left: -91px;
    top: 50%;
    margin-top: -16.5px;
}

.app {
    width: 100%;
    height: 100%;
    position: relative;
}
